.app{
  display: flex;
  

  }

.form{
  flex-direction: column;
  margin-left: 121px;
  margin-top: 172px;
}
.titulo{
  position: absolute;
  width: 498px;
  height: 39px;
  left: 121px;
  top: 172px;
  font-family: Asap;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 39px;
  color: #5594EF;
}

.frase1{
  position: absolute;
  width: 361px;
  height: 52px;
  left: 121px;
  top: 235px;
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  color: #5594EF;
  }

.email{
  position: absolute;
  width: 500px;
  height: 70px;
  left: 120px;
  top: 327px;  
  box-sizing: border-box;
  border-radius: 4px;
}

.contraseña{
  position: absolute;
  width: 500px;
  height: 56px;
  left: 120px;
  top: 403px;
  box-sizing: border-box;
  border-radius: 4px;
}

.fondo{
  position: absolute;
  width: 701px;
  height: 900px;
  margin-left: 739px;
  margin-top: 0px;
  background: #6DA3F1;
  border-radius: 80px 0px 0px 80px;
}

.frase2{
  position: absolute;
  width: 133px;
  height: 16px;
  left: 485px;
  top: 483px;

  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.15px;
  text-decoration-line: underline;
  color: #6DA3F1;
}

.boton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 54px;
  position: absolute;
  width: 500px;
  right: 57.08%;
  left: 9%;
  top: 80%;
  color: #FFFFFF;
  background: #5594EF;
  border-radius: 100px;
}

.frase3{
  position: absolute;
  left: 323px;
  top: 619px;

  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #6DA3F1;
}

.frase4{
  position: absolute;
  width: 259px;
  height: 17px;
  left: 239px;
  top: 738px;

  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #5594EF;
}

.danger{
  color: red;
  font-size: 15px;
}

input.danger{
  border: 2px solid red;
}